/* --- Schrift --- */

  /* rubik-regular - latin */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/rubik-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/rubik-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* rubik-700 - latin */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/rubik-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/rubik-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* rubik-italic - latin */
  @font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 400;
    src: local(''),
        url('../fonts/rubik-v20-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/rubik-v20-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* rubik-700italic - latin */
  @font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 700;
    src: local(''),
        url('../fonts/rubik-v20-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/rubik-v20-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* rubik-500 - latin */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../fonts/rubik-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/rubik-v20-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }


/* --- Farben --- */

  :root {
    --fr-rot: #F8333C;
    --fr-blau: #2B9EB3;
    --fr-gruen: #44AF69;
    --fr-gelb: #FCAB10;
    --fr-orange: #F47A45;
    --fr-grau: #4C4548;
  }
  .fr-rot {
    color: var(--fr-rot);
  }
  .fr-blau {
    color: var(--fr-blau);
  }
  .fr-gruen {
    color: var(--fr-gruen);
  }
  .fr-gelb {
    color: var(--fr-gelb);
  }
  .fr-orange {
    color: var(--fr-orange);
  }
  .fr-grau {
    color: var(--fr-grau);
  }
  .bg-rot {
    background-color: var(--fr-rot);
  }
  .bg-blau {
    background-color: var(--fr-blau);
  }
  .bg-gruen {
    background-color: var(--fr-gruen);
  }
  .bg-gelb {
    background-color: var(--fr-gelb);
  }


/* --- Allgemeines --- */

  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  .container {
    width: clamp(323px, 50vw, 767px);
    margin: 0 auto;
  }
  .hero img {
    min-width: 325px;
    max-width: 100%;
    margin-top: 4.5rem;
  }
  .inhalt {
    margin-top: 2rem;
  }
  .mb-medium {
    margin-bottom: 1.5rem
  }
  .mb-large {
    margin-bottom: 4rem;
  }
  .mb-ende {
    margin-bottom: 4rem;
  }
  .impressum {
    margin-bottom: 2.2rem;
  }
  .anmeldung-btn {
    background-color: var(--fr-orange);
    border: 4px solid var(--fr-orange);
    color: white;
    padding: 1.2rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: clamp(1.2rem, 3vw, 1.4rem);
    margin: 1.2rem auto 2.5rem;
    cursor: pointer;
    font-weight: 700;
    font-style: italic;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
  }
  .anmeldung-btn:hover {
    color: var(--fr-orange);
    background: white;
  }
  .text-center.mobil {
    display: block;
    margin-bottom: 3rem;
  }
  .text-center.desktop {
    display: none;
    margin-bottom: 6rem;
  }
  .columns {
    width: 100%;
  }
  .wrap {
    display: flex;
    flex-wrap: wrap;
  }

/* --- Typografie --- */

  body {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: var(--fr-grau);
  }
  p {
    line-height: 140%;
    font-size: clamp(1rem, 2.1vw, 1.2rem);
    margin-bottom: 1.3rem;
  }
  .text-center {
  text-align: center;
  }
  .spruch {
    font-style: italic;
    font-weight: 400;
    font-size: clamp(1.3rem, 2.7vw, 1.8rem);
    color: var(--fr-grau);
    line-height: 100%;
  }
  .betonung {
    font-style: italic;
    font-weight: 700;
    font-size: clamp(1rem, 1.8vw, 1.2rem);
  }
  .fett {
    font-weight: 700;
  }
  a:visited {
    color: white;
  }
  .piktogramme_mobil a {
    text-align: center;
    padding: 0.5rem;
  }
  .piktogramme_mobil a {
    text-align: center;
    padding: 0.5rem;
  }
  .piktogramme_mobil p {
    font-size: 0.9rem;
    font-weight: 500;
  }
  .piktogramme_desktop a {
    text-align: center;
    transition: transform .2s;
  }
  .piktogramme_desktop a:hover {
      transform: scale(1.2);
  }
  .piktogramme_desktop p {
    font-weight: 500;
    font-size: 1rem;
  }
  a.besucht-rot {
    padding-left: 0;
  }
  a.besucht-gelb {
    padding-right: 0;
  }
  a.besucht-rot:visited {
    color: var(--fr-rot);
  }
  a.besucht-blau:visited {
    color: var(--fr-blau);
  }
  a.besucht-gruen:visited {
    color: var(--fr-gruen);
  }
  a.besucht-gelb:visited {
    color: var(--fr-gelb);
  }
  .normal {
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1.3rem, 3.1vw, 1.5rem);
  }
  .active {
    color: var(--fr-orange) !important;
  }
  .active_footer {
    text-decoration: underline;
  }
  .gross {
    font-size: clamp(1.2rem, 3vw, 1.4rem)
  }
  #h2_start, 
  h1 {
    font-weight: 700;
    color: var(--fr-orange);
    font-style: italic;
    font-size: clamp(2.1rem, 5.2vw, 3.3rem);
    line-height: 85%;
    margin-bottom: 1.5rem;
  }


/* --- Piktogramme --- */

  .piktogramme_mobil {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  .piktogramme_mobil img {
    height: 4.2rem;
  }
  .piktogramme_desktop {
    display: none;
    position: absolute;
    right: 4rem;
    text-align: center;
  }
  .piktogramme_desktop img {
    width: 5rem;
  }
  .piktogramme_desktop a {
    margin-top: 1.7rem;
  }
  .piktogramme_desktop a:first-of-type {
    margin-top: 5rem;
  }


/* --- Header--- */

  header {
    min-width: 325px;
    position: absolute;
    width: 100%;
    padding-bottom: 1.5rem;
    padding-top: 2vw;
    background-image: url(../icons/rundung_oben.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
  }
  header a {
    color: white;
  }
  header a:visited {
      color: white;
  }
  header a:hover {
    text-decoration: underline;
  }
  .verkauf_header {
    background-image: url(../icons/rundung_oben_rot.svg);
  }
  .werkstatt_header {
    background-image: url(../icons/rundung_oben_blau.svg);
  }
  .lastenrad_header {
    background-image: url(../icons/rundung_oben_gruen.svg);
  }
  .kinderrad_header {
    background-image: url(../icons/rundung_oben_gelb.svg);
  }
  #logo {
    width: clamp(8rem, 17vw, 15rem);
  }
  .info {
    color: white;
    font-size: clamp(0.8rem, 1.8vw, 1.1rem);
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
  

/* --- Navigation --- */

  /* --- CSS-Burgermenü von https://codepen.io/alvarotrigo/pen/yLzaPVJ --- */

  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);;
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    right: 0 !important;
    position: fixed;
  }
  .menu__btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 27px;
    height: 27px;
    cursor: pointer;
    z-index: 3;
  }
  #menu__toggle:checked + .menu__btn {
    position: fixed;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
    transition-duration: .25s;
    border-radius: 10px;
  }
  .menu__btn > span::before {
    content: '';
    top: -9px;
  }
  .menu__btn > span::after {
    content: '';
    top: 9px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: var(--fr-grau);
    transition-duration: .25s;
    z-index: 2;
  }
  .menu__item {
    display: block;
    padding: 1.2rem 1.5rem;
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #7e7277;
}

/* --- Startseite --- */

  #titel {
    display: none;
  }
  .bildtext {
    margin-bottom: 1.3rem;
    line-height: 135%;
    font-size: clamp(1rem, 2.1vw, 1.2rem);
    margin-bottom: 0.5rem;
  }
  p.bildunterschrift {
    font-size: clamp(1.3rem, 3vw, 1.7rem);
    font-style: italic;
    font-weight: bold;
    margin-bottom: 1rem;
  }


  /* --- Slideshow von https://codepen.io/dudleystorey/full/KKPdeb --- */

    @keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }

    * {
      box-sizing: border-box;
    }
    div#slideshow { 
      width: 100%;
      overflow: hidden;
      margin-top: 2rem;
    }
    figure.slider { 
      position: relative; width: 500%;
      font-size: 0; animation: 20s slidy infinite;
      display: flex;
    }
    figure.slider figure { 
      width: 20%; height: auto;
      display: inline-block;  position: inherit;
      margin-right: 0.5rem;
    }
    figure.slider img { width: 100%; height: auto; }
    figure.slider figure div { 
      color: #fff;
      width: 100%;
      padding: 1rem 1.3rem;
      border-radius: 0 0 30px 0;
    }


/* --- Seite Services --- */

  .kasten {
    text-align: center;
    border-radius: 0 0 15px;
    margin-bottom: 2rem;
    transition: 0.2s ease-in-out;
  }
  .kasten:hover {
    transform: scale(1.05);
  }
  .kasten img {
    max-width: 100%;
  }
  .kasten p {
    color: white;
    padding: 1rem 0.75rem 1.25rem;
  }
  .kasten p.bildunterschrift {
    font-size: clamp(1.1rem, 1.6vw, 1.4rem);
  }


 /* --- Footer --- */
 
  footer {
    min-width: 325px;
    background-image: url(../icons/footer_mobil_orange.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding-bottom: 5rem;
    text-align: center;
    color: white;
  }
  .verkauf_footer {
    background-image: url(../icons/footer_mobil_rot.svg);
  }
  .werkstatt_footer {
    background-image: url(../icons/footer_mobil_blau.svg);
  }
  .lastenrad_footer {
    background-image: url(../icons/footer_mobil_gruen.svg);
  }
  .kinderrad_footer {
    background-image: url(../icons/footer_mobil_gelb.svg);
  }
  footer nav {
    margin-bottom: 3rem;
    padding-top: 6rem;
  }
  footer p {
    margin-bottom: 1rem;
  }
  footer p.fliesstext {
    margin-bottom: 1rem;
    line-height: 190%;
  }
  footer a {
    font-size: clamp(1.3rem, 3.1vw, 1.5rem);
    font-weight: 700;
    font-style: italic;
    color: white;
  }
  footer a:visited {
    color: white;
  }
  footer a:hover {
    text-decoration: underline;
  }
  .einzellink {
    display: block;
    margin-bottom: 1rem;
  }
  .verlinkung_footer {
    margin-bottom: 1.3rem;
    line-height: 135%;
    font-size: clamp(1rem, 2.1vw, 1.1rem);
    color: white;
    font-style: normal;
    font-weight: 400;
  }
    

/* --- Media Queries --- */

@media (min-width: 481px) {
  footer {
    background-image: url(../icons/footer_tablet_orange.svg);
  }
  .verkauf_footer {
    background-image: url(../icons/footer_tablet_rot.svg);
  }
  footer nav {
    padding-top: 7.5rem;
  }
}
@media (min-width: 769px) {
  footer {
    background-image: url(../icons/footer_desktop_sm_orange.svg);
  }
  .verkauf_footer {
    background-image: url(../icons/footer_desktop_sm_rot.svg);
  }
  .werkstatt_footer {
    background-image: url(../icons/footer_desktop_sm_blau.svg);
  }
  .lastenrad_footer {
    background-image: url(../icons/footer_desktop_sm_gruen.svg);
  }
  .kinderrad_footer {
    background-image: url(../icons/footer_desktop_sm_gelb.svg);
  }
  .piktogramme_mobil {
    display: none;
  }
  .piktogramme_desktop {
    display: flex;
    flex-direction: column;
  }
  div#slideshow {
    margin-bottom: 10rem;
    margin-top: 3rem;
  }
  figure.slider figure div {
    padding: 1.5rem 1.7rem;
  }
  .inhalt {
    margin-top: 3.5rem;
  }
  .impressum {
    margin-bottom: 2.7rem;
  }
  .anmeldung-btn {
    margin: 2rem auto 9rem;
  }
  p {
    line-height: 150%;
  }
  .text-center.mobil {
    display: none;
  }
  .text-center.desktop {
    display: block;
    margin-bottom: 8.5rem;
  }
  .verkauf-btn {
    margin: 2rem auto 4.5rem;
  }
  .kinderrad-btn {
    margin: 2rem auto;
  }
  .mb-ende {
    margin-bottom: 9.5rem;
  }
  #h2_start, h1 {
    margin-bottom: 2.5rem;
}
}
@media (min-width: 1024px) {
  footer {
    background-image: url(../icons/footer_desktop_md_orange.svg);
  }
  .verkauf_footer {
    background-image: url(../icons/footer_desktop_md_rot.svg);
  }
  .werkstatt_footer {
    background-image: url(../icons/footer_desktop_md_blau.svg);
  }
  .lastenrad_footer {
    background-image: url(../icons/footer_desktop_md_gruen.svg);
  }
  .kinderrad_footer {
    background-image: url(../icons/footer_desktop_md_gelb.svg);
  }
  .columns {
    flex: 0 0 auto;
    width: 50%;
  }
  .links {
    margin-right: 1rem;
  }
  .rechts {
    margin-left: 1rem;
  }
  .kasten.rechts {
    border-radius: 0 15px;
  }
  .inhalt {
    margin-top: 5rem;
  }
}
@media (min-width: 1280px) {
  footer nav {
    padding-top: 7.5rem;
  }
}
@media (min-width: 1500px) {
  footer {
    background-image: url(../icons/footer_desktop_lg_orange.svg);
  }
  .verkauf_footer {
    background-image: url(../icons/footer_desktop_lg_rot.svg);
  }
  .werkstatt_footer {
    background-image: url(../icons/footer_desktop_lg_blau.svg);
  }
  .lastenrad_footer {
    background-image: url(../icons/footer_desktop_lg_gruen.svg);
  }
  .kinderrad_footer {
    background-image: url(../icons/footer_desktop_lg_gelb.svg);
  }
  .hero img {
    width: 100%;
  }
  footer nav {
    padding-top: 10.5rem;
  }
}